div{
    width: 150px;
    height: 150px;
}
.div1{
    background-color: #f573f4;


}
.div2{
    background-color: orangered;
}
.div3{
    background-color: navy;
   

}
.div4{
    background-color: gold;

    margin: 50px 45px 25px 35px;         /*  top right bottom left   */
}
.div5{
    background-color: green;    
}
.div6{
    background-color: aquamarine;

}

