*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #65727B;
    list-style: none;
    text-decoration: none;
}
ul li{list-style: none;}

.wrapper {
}
.header {
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 60px;
    background: white;
    box-shadow: 5px 5px 10px white;
}
.navbar-links {
    display: flex;
    gap: 30px;
}
.navbar-links li {
    padding: 10px;
}
.navbar-links li:hover{
    background: #65727B33;
    border-radius: 18px;
    overflow: hidden;
}
.body {
    padding: 230px 0 0;
}

/* ------------------------------------------------------------------------------------------------------------- */

.frame1 {
    display: flex;
    flex-direction: column;
    gap: 38px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.frame {
    position: relative;
    padding: 80px 60px;
}
.frame::after {
    content: "";
    width: 160px;
    height: 3px;
    background: #1B1F2B1F;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.frame-text {
    text-align: center;
    max-width: 656px;
    margin: 0 auto;
    gap: 38px;
    flex-direction: column;
    display: flex;
}

.title {
    font-size: 48px;
    color: #28514F;
}
.sub-title{
    font-size: 21px;
    color: #65727B;
}
.button {
    display: flex;
    gap: 10px;
    width: 156px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    border: none;
}
.frame1-buttons {
    display: flex;
    gap: 20px;
}
.apptsore {
    background: #28514F;
    color: white;
}
.playstore {
    background: #65727B;
    color: white;
}
.frame1-image {
    width: 100%;
    max-width: 700px;
    margin-top: 42px;
}
/* ------------------------------------------------------------------------------------------------------------- */

.frame2 {
}

.frame2-cards {
    max-width: 1200px;
    margin: 80px auto 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card1 {
    background: #DAE1F4;
}
.cards {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    max-width: 280px;
    min-width: 200px;
    gap: 20px;
    align-self: stretch;
}
.cards-img{
    width: 100%;
    height: auto;
}
.mini_img {
    width: auto;
    align-self: start;
}
.card1-text {
}
.card-title {
    font-size: 34px;
    color: #1B1F2B;
}
.card-subtitle {
    margin-top: 58px;
    font-size: 17px;
    color: #1B1F2B;
}
.card2 {
    background: #E0F0E6;
}
.card2-text {
}
.card-column2 {
}
.card3 {
    background: #D0E6F3;
}
.card3-text {
}
.card4 {
    background: #F4F0E9;
}
.card4-text {
}