*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background{
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-image: url(img/IO7A8xR.gif);
    opacity: 0.9;
}

.container{
    border: 2px solid;
    width: 1600px;
    height: 400px;
    color: blue;
    margin-top: 270px;
    margin-left: 290px;
    background-color: rgb(127, 255, 189);
    position: absolute;
}

.inner-container{
    margin-left: 50px;
    margin-top: 90px;
}

img{
    width: 235px;
    height: 235px;
    margin-left: 10px;
}