div{
    width: 500px;
    height: 500px;
    overflow-y: scroll;
}
.div1{
    background-color: #f2f3f4;
}
.div2{
    background-color: orangered;
    display: none;
}
.div3{
    background-color: navy;
    display: none;
    display: inline-block;
}
.div4{
    background-color: gold;
    display: inline-block;
}
.div5{
    background-color: green;    
}
.div6{
    background-color: aquamarine;
    display: inline;
}

