*{
    margin: 0
}
li{
    padding: 15px;
    list-style-position: inside;
}
.undone{
    background-color: #a5ccda;
    list-style-image: url(img/unchecked.png);
}
.done{
    background-color: #e2e2e2;
}
.xSymb{
    color: red;
    margin-left: 15px;
}
.text{
    margin-left: 15px;
}