div{
    width: 150px;
    height: 150px;
}
.div1{
    background-color: blue;
}
.div2{
    background-color: orangered;
    display: none;
}
.div3{
    background-color: navy;
    display: none;
    display: inline-block;
}
.div4{
    background-color: gold;
    display: inline-block;
}
.div5{
    background-color: green;    
}
.div6{
    background-color: aquamarine;
    display: inline;
}

