*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}
.main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
hr{
    grid-column: 1/13;
}
header{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px 0;
}
header img{
    width: 50px;
    height: 50px;
}
aside{
    padding: 20px;
    grid-column: 1/3;
}
section{
    padding: 20px;
    grid-column: 3/12;
}
.header-item1 {
    display: flex;
    grid-column: 1/2;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-item2 {
    display: flex;
    grid-column: 12/13;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sidebar-item1::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 8%;
    background-image: url(img/incom.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 50%;
    transform: translateY(-58%);
}
.sidebar-item {
    padding: 15px 0;
    padding-left: 69px;
    position: relative;
}
.sidebar-item:hover{
background-color: #f8e4e4;
}
.sidebar-item::before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 4%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 50%;
    transform: translateY(-58%);
}
.sidebar-item2::before{
    background-image: url(img/outcom.png);
}
.sidebar-item3::before{
    background-image: url(img/draft.png);
}
.sidebar-item4::before{
    background-image: url(img/spam.png);
}
section ul{
    display: flex;
    flex-direction: column;
}
section ul li{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    padding: 20px 0;
}
section ul li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
}
.author::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4%;
    background-image: url(img/star1.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 50%;
    transform: translateY(-50%);
}
.red-star::before{
    background-image: url(img/star2.svg);
}
.author {
    grid-column: 2/3;
}
.message-text {
    grid-column: 4/10;
}
.message-head {
}
.message-body {
    color: gray;
}
.date {
    grid-column: 12/13;
    position: relative;
}
.attach::before{
    content: "";
    background-image: url(img/attach.png);
    width: 20px;
    height: 20px;
    position: absolute;
    left: -25%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 50%;
    transform: translateY(-50%);
}