*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: azure;
}
.menu{
    width: 1900px;
    height: 70px;
    background-color: coral;
}
ul{
    padding-top: 25px;
}
li{
    display: inline;
    margin: 0 250px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    color: black;
}
.card{
    width: 350px;
    height: 580px;
    background-color: coral;
    border-radius: 5%;
    padding: 25px 15px;
    color: #fff;
    margin: 100px 140px;
    float: left;
    transition: 0.8s;
}
.card:hover{
    background-color: #fff;
    color: coral;
    border: 2px solid coral;
    /* transform: translate(150px, 100px);  перемещение */
    /* transform: skew(40deg); искажение */
    /* transform: rotate(70deg); вращение */
    transform: scale(1.2);
    transition: 0.8s;

}
h1,
.price{
    text-align: center;
}
p{
    text-align: justify;
    margin: 10px 0;
    font-size: 19px;
}
.price{
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

footer{
    width: 1900px;
    height: 500px;
    background: url(img/AqS6Xm.gif) no-repeat;
    opacity: 0.9;
    background-size: cover;

    margin-top: 900px;
    color: #fff;
}
.container-inner{
    width: 540px;
    height: 200px;
    float: left;
    padding-left: 150px;
    padding-top: 50px;
    font-size: 22px;
}
.images-container{
    margin-top: 30px;
    
}

.p-2{
    width: 90px;
    height: 140px;

}
hr{
    float: none;
    width: 1750px;
    margin-left: 90px;
}
.copyright-text{
    width: 300px;
    height: 30px;
    border-radius: 50px;
    float: none;
    margin-top: 50px;
    margin-left: 800px;
    font-size: 19px;
}
.facebook{
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url(img/fb_gray.png) no-repeat;
}
.insta{
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-left: 50px;
    background: url(img/insta_gray.png) no-repeat;
}
.youtube{
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-left: 50px;
    background: url(img/youtube_gray.png) no-repeat;
}
.facebook:hover{
    background: url(img/fb.png) no-repeat;
}
.insta:hover{
    background: url(img/insta.png) no-repeat;
}
.youtube:hover{
    background: url(img/youtube.png) no-repeat;
}
span:hover{
    text-decoration: underline;
}